body{
margin:0;
overflow:hidden;
font-family:Arial;
background:black;
}

#ui{
position:absolute;
top:20px;
left:20px;
background:rgba(0,0,0,0.6);
padding:20px;
border-radius:10px;
color:white;
z-index:10;
}

button{
padding:10px 20px;
font-size:18px;
background:#2ecc71;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#27ae60;
}
